<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manganph">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManganPh">
        <activity android:name=".OrderMenu"></activity>
        <activity android:name=".info3" />
        <activity android:name=".redroses" />
        <activity android:name=".info2" />
        <activity android:name=".Pinktheme" />
        <activity android:name=".info" />
        <activity android:name=".option1" />
        <activity android:name=".Gallery1" />
        <activity android:name=".cater" />
        <activity android:name=".MenuOrder" />
        <activity android:name=".firstmenu" />
        <activity android:name=".signup" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>